.featured-media{
    width: 100%;
    height: 700px;
    position: relative;
    overflow: hidden;
}
.featured-media .video{
    position: absolute;
    z-index: 1;
    transform: scale(2);
} 
iframe{
    pointer-events: none;
}