.top-header-cont{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}


.top-header{
    background: rgba(0, 0, 0, 0.371);
    display: flex;
    position: fixed;
    width: 100%;
    min-height: 5%;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    color: white;
    z-index: 10;
    transition: background .3s ease-in-out;
}
.top-header:hover{
    background: black;
}
.top-header-logo{
    font-size: 18px;
    
    margin: auto 15px;
}

.top-header-links{
    display: flex;
}

.top-header-links p{
    font-size: 14px;
    margin: auto 10px;
    padding-left: 0px;
}
.browser-menu-cont.top-header-browserMenu{
    display: none;
}

.top-header .search-btn{
    position: absolute;
    cursor: pointer;
    right: 10%;
}

@media screen and (max-width: 640px) {
    .top-header-links{
        display: none;
    }
    .top-header-logo{
        font-size: 14px;
        margin: auto 15px;
    }
    .browser-menu-cont.top-header-browserMenu{
        display: block;
        display: flex;
        margin-left: 5px;
    }
    .top-header-logo{
        font-size: 14px;
        margin: auto 15px;
    }
    .top-header .top-header-browserMenu {
        font-size: 14px;
    }
    .top-header .top-header-browserMenu .fa-caret-down {
        font-size: 18px;
    }
    .top-header .top-header-browserMenu .dropdown-menu-cont{
        top: 21px;
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        z-index: 99;
        overflow-y: scroll;
        padding: 15px 20px;
        min-width: 120px;
        max-height: 250px;
    }
    .top-header .top-header-browserMenu .dropdown-menu-cont a{
        margin-bottom: 15px;
    }
    .top-header .top-header-browserMenu .dropdown-menu-cont a:last-child{
        margin-bottom: 0px;
    }
}