.top-header{
    background: black;
    display: flex;
    position: fixed;
    width: 100%;
    height: 7%;
    justify-content: flex-start;
    color: white;
    z-index: 10;
    transition: background .3s ease-in-out;
}
.top-header:hover{
    background: black;
}
.top-header :nth-child(1){
    font-size: 24px;
    margin: auto 0;
    padding-left: 15px;
}

.top-header .links{
    font-size: 1px;
    margin: auto 0;
    padding-left: 0px;
}

@media screen and (max-width: 440px) {
    .top-header :nth-child(1){
        font-size: 12px;
        margin: auto 0;
        padding-left: 15px;
    }
    
    .top-header .links{
        font-size: 1px;
        margin: auto 0;
        padding-left: 0px;
    }
}