.top-header-cont{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}


.top-header{
    background: rgba(0, 0, 0, 0.371);
    display: flex;
    position: fixed;
    width: 100%;
    min-height: 5%;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    color: white;
    z-index: 10;
    transition: background .3s ease-in-out;
}
.top-header:hover{
    background: black;
}
.top-header-logo{
    font-size: 5vw;
    margin: auto 15px;
}

.top-header-links{
    display: flex;
}

.top-header-links p{
    font-size: 14px;
    margin: auto 10px;
    padding-left: 0px;
}
.browser-menu-cont.top-header-browserMenu{
    display: none;
}

@media screen and (max-width: 440px) {
    .top-header-links{
        display: none;
    }
    .top-header-logo{
        font-size: 14px;
        margin: auto 15px;
    }
    .browser-menu-cont.top-header-browserMenu{
        display: block;
        margin-left: 5px;
    }
}