.posters-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px 25px;

}
.posters-container .posters-list-parent{
    width: 100%;
    overflow: hidden;
    position: relative;
}

.posters-list-parent .poster-left{
    font-size: 1.3rem;
    width: 50px;
    height: 200px;
    color: white;
    background-color: rgb(19,19,19,.7);
    border: none;
    top:0;
    position: absolute;
    transition: .3s all ease-in-out;
    cursor: pointer;

}
.poster-left:hover{
    background-color: rgb(19,19,19,1);

}
.posters-list-parent .poster-right{
    font-size: 1.3rem;
    width: 50px;
    height: 200px;
    color: white;
    background-color: rgb(19,19,19,.7);
    border: none;
    top:0;
    right: 0;
    position: absolute;
    transition: .3s all ease-in-out;
    cursor: pointer;
}
.poster-right:hover{
    background-color: rgb(19,19,19,1);

}


.posters-container .posters-wrapper{
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
  
}

.posters-container .posters-wrapper .poster{
    width: 350px;
    height: 200px;
    margin: 0 10px 0 0;
    position: relative;
    overflow: hidden;
    transition: .5s all ease-in-out;
}

.posters-container .posters-wrapper .poster img{
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

.poster .image-overlay{
    opacity: 0;
    content: '';
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    box-shadow: inset 0px 0px 100px black;
    transition: .3s all ease-in-out;
}
.poster:hover .image-overlay {
    opacity: 1;
}



.posters-container .posters-container-title{
    font-weight: 500;
    color: white;
    font-size: 1.25rem;
    margin-bottom: 20px;
}

.poster .poster-hover-cont{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: fit-content;
    bottom: 0;
    transition: .5s all ease-in-out;
    
}

.poster:hover .poster-hover-cont{
    opacity: 1;
}

.poster-hover-cont .poster-hover-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 1.2rem;
}
.poster-hover-title{
    width: 65%;
}
.poster-hover-buttons{
    font-size: 1rem;
    width: 30%;
    display: flex;
    justify-content: space-between;
    transition: 1s all ease-in-out;

}

.play-btn{
    border: 1px solid white;
    height: fit-content;
    border-radius: 50%;
    padding: 10px;
    transition: 1s all ease-in-out;
    background: transparent;
}

.play-btn:hover {
    background: linear-gradient(328deg, rgba(94,158,255,1) 0%, rgb(48,123,207,0.5) 100%, rgba(62,185,62,1) 100%, rgba(0,0,0,1) 100%);


}

.add-btn{
    border: 1px solid white;
    height: fit-content;
    border-radius: 50%;
    padding: 10px;
    transition: 1s all ease-in-out;
    background: transparent;


}
.add-btn:hover {
    background: linear-gradient(328deg, rgba(94,158,255,1) 0%, rgb(48,123,207,0.5) 100%, rgba(62,185,62,1) 100%, rgba(0,0,0,1) 100%);


}





 .skeleton-img{
    width: 350px;
    height: 200px;
    background: rgb(19,19,19);
    margin-right: 10px;
    position: relative;
    overflow: hidden;
}
.skeleton-img::before{
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    background: rgba(255, 255, 255, 0.055);
    transform: skew(5deg);
    animation: shine infinite 1.5s ease-in-out;
    filter: blur(100px);
    width: 350px;
    height: 200px;
}

@keyframes shine{
    from{
        transform: skew(45deg) translate(-200%);
    }
    to{
        transform: skew(45deg) translate(300%);

    }
}