.mediarow{
    padding: 20px 0 20px 50px;
}
.mediarow .mediarow-title{
    font-weight: 500;
    color: white;
    font-size: 2rem;
    padding-bottom: 20px;
}
.mediarow-posters{
    display: flex;
    flex-wrap: nowrap;
    min-width: 100%;
    width: 100vw - 70px;
    overflow-x: scroll;
    scrollbar-width: none;
}
.default {
    display: flex;
    flex-wrap: nowrap;
    min-width: 100%;
    width: 100vw - 70px;
    overflow-x: scroll;
    scrollbar-width: none;
}
.genre{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 100%;
    width: 100vw - 70px;
}
.small-genre .mediarow-poster{
    margin-top: 10px;
    width: 170px;
    height: 350px;
}
.small-genre .mediarow-poster img{
    width: 170px;
    height: 350px;
}
.large-v .mediarow-poster{
    width: 360px;
    height: 550px;
}
.large-v .mediarow-poster img{
    width: 400px;
    height: 550px;
}
.large-h .mediarow-poster{
    width: 750px;
    height: 394px;
}
.large-h .mediarow-poster img{
    width: 780px;
    height: 394px;
}
.small-v .mediarow-poster{
    width: 240px;
    height: 370px;
}
.small-v .mediarow-poster img{
    width: 240px;
    height: 370px;
}
.small-h .mediarow-poster{
    width: 380px;
    height: 253px;
}
.small-h .mediarow-poster img{
    width: 380px;
    height: 253px;
}

.mediarow .mediarow-poster{
   position: relative;
   margin-right: 30px;
}
.mediarow .mediarow-poster img{
    object-fit: cover;
    object-position: center;
    position: relative;
}
.mediarow-posters::-webkit-scrollbar{
    display: none;
}
.default::-webkit-scrollbar{
    display: none;
}

.mediarow-poster .mediarow-poster-bg{
    background: linear-gradient(180deg, rgb(48,123,207,0)60%, rgb(48,123,207,0.5)80%, rgba(62,185,62,.7) 100%);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity .4s ease-in-out;
}
.mediarow-poster .mediarow-poster-bg:hover{
    opacity: 1;
}
.mediarow-poster .mediarow-poster-title{
    font-size: 4rem;
    font-weight: 700;
    color: white;
    margin-bottom: 1rem;
}
.media-row-poster .media-row-poster-overview{
    font-size: 2rem;
    color: white;
    margin-bottom: 1rem;
}
.mediarow-poster .mediarow-poster-buttons{
    display: flex;
    align-items: center;
    margin-bottom: 5rem;
}
.mediarow-poster .mediarow-poster-play-btn{
    font-size: 24px;
    background: linear-gradient(328deg, rgba(94,158,255,1) 0%, rgb(48,123,207,0.5) 100%, rgba(62,185,62,1) 100%, rgba(0,0,0,1) 100%);
    color: white;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0px;
    transition: background .3s ease-in-out;
}
.mediarow-poster-play-btn:hover{
    background: linear-gradient(328deg, rgba(94,158,255,1) 0%, rgb(48,123,207,0.5) 100%, rgba(62,185,62,1) 100%, rgba(0,0,0,1) 100%);
    color: white;
    cursor: pointer;
}
.mediarow-poster .mediarow-poster-info-btn{
    background: grey;
    color: white; 
    font-weight: 700;
    font-size: .8rem;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
}

.mediarow .mediarow-posters .skeleton-img{
    width: 200px;
    height: 300px;

}

.mediarow .mediarow-posters .skeleton-img{
    background: rgb(19,19,19);
    margin: 10px 0px;
    position: relative;
    overflow: hidden;
}

.mediarow .mediarow-posters .skeleton-img::before{
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    background: rgba(255, 255, 255, 0.055);
    height: 100%;
    transform: skew(5deg);
    animation: shine infinite 1.5s ease-in-out;
    filter: blur(100px);
}

@keyframes shine{
    from{
        transform: skew(45deg) translate(-200%);
    }
    to{
        transform: skew(45deg) translate(300%);

    }
}
@media screen and (max-width: 440px) {
    .small-genre .mediarow-poster{
        margin-top: 10px;
        width: 130px;
        height: 250px;
    }
    .small-genre .mediarow-poster img{
        width:130px;
        height: 250px;
    }
    .large-v .mediarow-poster{
        width: 400px;
        height: 450px;
    }
    .large-v .mediarow-poster img{
        width: 400px;
        height: 450px;
    }
    .large-h .mediarow-poster{
        width: 380px;
        height: 253px;
    }
    .large-h .mediarow-poster img{
        width: 380px;
        height: 253px;
    }
    .small-v .mediarow-poster{
        width: 240px;
        height: 370px;
    }
    .small-v .mediarow-poster img{
        width: 240px;
        height: 370px;
    }
    .small-h .mediarow-poster{
        width: 380px;
        height: 253px;
    }
    .small-h .mediarow-poster img{
        width: 380px;
        height: 253px;
    }
    
}